<!DOCTYPE html>
<html>
<link rel="shortcut icon" href="{{ url_for('static', filename='piano_favicon.png') }}">

<body>
    <div>
        If you were Vanessa Carlton, where would you go?
    </div>

    <video controls autoplay>
        <source src={{ url_for('static', filename="thousand_miles_short.mp4" ) }} type="video/mp4">
    </video>

    <div>
        You are in {{ your_city }}
    </div>
    <div>
        Your lover is in {{ lover_city }}
    </div>
    <div>
        Go get 'em tiger
    </div>
</body>

</html>